# pngtovideo_output/output_frames klasöründeki tüm dosyaları yoksay
examples/pngtovideo_output/output_frames/*
# ama .gitkeep dosyasını hariç tut
!examples/pngtovideo_output/output_frames/.gitkeep

# pngtovideo2_output/output_frames klasöründeki tüm dosyaları yoksay
examples/pngtovideo2_output/output_frames/*
# ama .gitkeep dosyasını hariç tut
!examples/pngtovideo2_output/output_frames/.gitkeep


# pngtovideo2_output/output_frames_copy klasöründeki tüm dosyaları yoksay
examples/pngtovideo2_output/output_frames_copy/*
# ama .gitkeep dosyasını hariç tut
!examples/pngtovideo2_output/output_frames_copy/.gitkeep

# CMake tarafından oluşturulan derleme klasörlerini yoksay
build/
cmake-build-*/

# IDE dosyaları
.vscode/
.idea/
*.user

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# Geçici dosyalar
*~
*.swp
*.swo

